<!doctype html>
<html>
  <head>
    <title>Example App</title>
  </head>
  <body>
    <h3>Service response</h3>
    <code><%= service_response %></code>
    <h3>My IPs</h3>
    <code><%= networks.join(", ") %></code>
  </body>
</html>
